@charset "UTF-8";

/*　　画像の表示エリア*/
.about {
	position : relative;
	overflow : hidden;
			/*　　画像のサイズに合わせて変更*/
	width : 200px;
	height :200px;
	margin : auto;
	background : #fff;
}

/*　　画像の設定*/
.about img{
	display : block;
	position : absolute;
			/*　　画像のサイズを表示エリアに合わせる*/
	width : inherit;
	height : inherit;
	left : 100%;
	animation : slideAnime 12s ease infinite;
}

/*　　スライドのアニメーションを段差で開始する*/
.about img:nth-of-type() { animation-delay: 0s }
.about img:nth-of-type() { animation-delay: 3s }
.about img:nth-of-type() { animation-delay: 6s }
.about img:nth-of-type() { animation-delay: 9s }

/*　　スライドのアニメーション*/
@keyframes slideAnime{
	0% { left: 100% }
	2% { left: 0 }
	18% { left: 0 }
	20% { left: -100% }
	100% { left: -100% }
}
