@charset"UTF-8";

html {
	font-size: 100%;
}

/*　　背景を繰り返し表示*/
body {
	
	background-color: white;
	background-size: 20%;
	background-repeat: repeat;
	margin: 0;
}

.br::before {
	content: "\A" ;
	white-space: pre ;
}

/*　タイトル*/
.logo {
  color: #fff;
  background-color: #4CB2D4;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*　メニューバー*/
.navigation {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation ul {
  list-style: none;
  font-size: 1.4rem;
}
.navigation ul li {
  display: inline-block;
  padding: 0 8px;
}
.navigation ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/*　画面上部の帯 */
#about_top_belt {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #82aaaa;
}

#about {
	display: flex;
	padding: 100px 200px;
	justify-content: center;
	align-items: center;
}

.about-main {
	width: 50%;
}

.about-main p {
	margin: 10px 0;
}

/*　　画像の表示エリア*/
.about-img {
	position : relative;
	overflow : hidden;
			/*　　画像のサイズに合わせて変更*/
	width : 50%;
	height : 400px;
	margin : auto;
	background : #fff;
}

/*　　画像の設定*/
.about-img img{
	display : block;
	position : absolute;
			/*　　画像のサイズを表示エリアに合わせる*/
	width : 100%;
	height : inherit;
	
	animation : slideAnime 15s ease infinite;
}

/*　　スライドのアニメーションを段差で開始する*/
.about-img img:nth-of-type(1) { animation-delay: 0s }
.about-img img:nth-of-type(2) { animation-delay: 5s }
.about-img img:nth-of-type(3) { animation-delay: 10s }

/*　　スライドのアニメーション*/
@keyframes slideAnime{
	0% { opacity: 0 }
	8% { opacity: 1}
	25% { opacity: 1 }
	33% { opacity: 0 }
	100% { opacity: 0 }
}






/*　画面上部の帯 */
#works_top_belt {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #82aaaa;
}

.container {
	display: flex;
	justify-content: space-around;
	padding-top: 100px;
	padding-bottom: 100px;
}

.item {
	text-align: center;
	width: 33.3333%;
    padding: 0 5%;
}

.container　h3 {
	font-size: 1.8rem;
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}

.container p {
	font-size: 1.4rem;
	line-height: 1.5;
}

.item img {
	margin-top: 10px;
	margin-bottom: 10px;
}









/*　画面上部の帯 */
#skills_top_belt {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #82aaaa;
}

.stage {
	padding-top: 100px;
	padding-bottom: 100px;
	background: white;
}

/*　スライダー全体のコンテナー*/
#stage {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    background: white;
	overflow: hidden;
}
/*　全ラジオボタンを非表示に*/
#r1,#r2,#r3,#r4,#r5,#back1,#back2,#back3,#back4,#back5,#next1,#next2,#next3,#next4,#next5 {
    display: none;
}
/*　表示切換えボタンと表示位置 */
.circ img {
    position: absolute;
    bottom: 2.5%;
    cursor: pointer;
}
#lb1 img { left: 43%;width:3%; }
#lb2 img { left: 46%;width:3%; }
#lb3 img { left: 49%;width:3%; }
#lb4 img { left: 52%;width:3%; }
#lb5 img { left: 55%;width:3%; }
/*　左右送りボタン */
.pb, .nb { 
	color:#4CB2D4;
	font-weight:bold;
	font-size:26px;
	display:block;
	position:absolute;
	top:45%;/*z-index:200;pointer-events:auto;*/}
.pb { left:0%; }
.nb { left:97%; }
.pb:hover, .nb:hover { color:orange; cursor:pointer; }
/* stageが初期サイズ以下のなったときのサイズ */
@media screen and (max-width: 660px) { .pb, .nb { font-size:18px; } }
/*　全表示スライドのコンテナー*/
#photos {
    position: absolute;
    width: 1000px;
    height:90%; /*100%;*/
    left: 4.55%;
    opacity:0;
    /*pointer-events: none;*/
    animation:flowSlides 40s infinite;
}
/*　個々のスライド・現スライド標示ボタン */
.pic {
    position: absolute;
    width:100%;
    height:100%;
}

.pic p {
	margin: 15px;
}

.explanatoryText {
	position: absolute;
	top: 200px;
	left: 450px;
}

.pic img:nth-child(1) { width:90.9%; margin-left:4.55%; }
.pic img:nth-child(2) { width:3%; bottom:-8.5%; /*2.5%;*/ }

/*　表示スライドをphotosの中に横並びで一列に並べる*/
#photo1 { left: 0; }
#photo2 { left: 1000px; }
#photo3 { left: 2000px; }
#photo4 { left: 3000px; }
#photo5 { left: 4000px; }

/*　チェックされたドットに相当するスライドが画面中央になるようにphotosを移動*/
#r1:checked ~ #photos { animation:flowSlides1 40s infinite; animation-delay: 0s; }
#r2:checked ~ #photos { animation:flowSlides2 40s infinite; animation-delay:-8s; }
#r3:checked ~ #photos { animation:flowSlides3 40s infinite; animation-delay:-16s; }
#r4:checked ~ #photos { animation:flowSlides4 40s infinite; animation-delay:-24s; }
#r5:checked ~ #photos { animation:flowSlides5 40s infinite; animation-delay:-32s; }
/*　左右送りボタン */
#back1:checked ~ #photos { animation:flowSlides5 40s infinite; animation-delay:-32s; }
#back2:checked ~ #photos { animation:flowSlides1 40s infinite; animation-delay: 0s; }
#back3:checked ~ #photos { animation:flowSlides2 40s infinite; animation-delay:-8s; }
#back4:checked ~ #photos { animation:flowSlides3 40s infinite; animation-delay:-16s; }
#back5:checked ~ #photos { animation:flowSlides4 40s infinite; animation-delay:-24s; }
#next1:checked ~ #photos { animation:flowSlides2 40s infinite; animation-delay:-8s; }
#next2:checked ~ #photos { animation:flowSlides3 40s infinite; animation-delay:-16s; }
#next3:checked ~ #photos { animation:flowSlides4 40s infinite; animation-delay:-24s; }
#next4:checked ~ #photos { animation:flowSlides5 40s infinite; animation-delay:-32s; }
#next5:checked ~ #photos { animation:flowSlides1 40s infinite; animation-delay: 0s; }
/*　初期スライドショー */
@keyframes flowSlides {
  0% { left:0px; opacity:0; }
  2% { left:0px; opacity:1; }
  18% { left:0px; opacity:1; }
  20% { left:0px; opacity:0; }
  20.01% { left:-1000px; opacity:0; }
  22% { left:-1000px; opacity:1; }
  38% { left:-1000x; opacity:1; }
  40% { left:-1000px; opacity:0; }
  40.01% { left:-2000px; opacity:0; }
  42% { left:-2000px; opacity:1; }
  58% { left:-2000px; opacity:1; }
  60% { left:-2000px; opacity:0; }
  60.01% { left:-3000px; opacity:0; }
  62% { left:-3000px; opacity:1; }
  78% { left:-3000px; opacity:1; }
  80% { left:-3000px; opacity:0; }
  80.01% { left:-4000px; opacity:0; }
  82% { left:-4000px; opacity:1; }
  98% { left:-4000px; opacity:1; }
  100% { left:-4000px; opacity:0; }
}
/*　各スライド向けスライドショー */
@keyframes flowSlides1 {
  0% { left:0px; opacity:0; }
  2% { left:0px; opacity:1; }
  18% { left:0px; opacity:1; }
  20% { left:0px; opacity:0; }
  20.01% { left:-1000px; opacity:0; }
  22% { left:-1000px; opacity:1; }
  38% { left:-1000x; opacity:1; }
  40% { left:-1000px; opacity:0; }
  40.01% { left:-2000px; opacity:0; }
  42% { left:-2000px; opacity:1; }
  58% { left:-2000px; opacity:1; }
  60% { left:-2000px; opacity:0; }
  60.01% { left:-3000px; opacity:0; }
  62% { left:-3000px; opacity:1; }
  78% { left:-3000px; opacity:1; }
  80% { left:-3000px; opacity:0; }
  80.01% { left:-4000px; opacity:0; }
  82% { left:-4000px; opacity:1; }
  98% { left:-4000px; opacity:1; }
  100% { left:-4000px; opacity:0; }
}
@keyframes flowSlides2 {
  0% { left:0px; opacity:0; }
  2% { left:0px; opacity:1; }
  18% { left:0px; opacity:1; }
  20% { left:0px; opacity:0; }
  20.01% { left:-1000px; opacity:0; }
  22% { left:-1000px; opacity:1; }
  38% { left:-1000x; opacity:1; }
  40% { left:-1000px; opacity:0; }
  40.01% { left:-2000px; opacity:0; }
  42% { left:-2000px; opacity:1; }
  58% { left:-2000px; opacity:1; }
  60% { left:-2000px; opacity:0; }
  60.01% { left:-3000px; opacity:0; }
  62% { left:-3000px; opacity:1; }
  78% { left:-3000px; opacity:1; }
  80% { left:-3000px; opacity:0; }
  80.01% { left:-4000px; opacity:0; }
  82% { left:-4000px; opacity:1; }
  98% { left:-4000px; opacity:1; }
  100% { left:-4000px; opacity:0; }
}
@keyframes flowSlides3 {
  0% { left:0px; opacity:0; }
  2% { left:0px; opacity:1; }
  18% { left:0px; opacity:1; }
  20% { left:0px; opacity:0; }
  20.01% { left:-1000px; opacity:0; }
  22% { left:-1000px; opacity:1; }
  38% { left:-1000x; opacity:1; }
  40% { left:-1000px; opacity:0; }
  40.01% { left:-2000px; opacity:0; }
  42% { left:-2000px; opacity:1; }
  58% { left:-2000px; opacity:1; }
  60% { left:-2000px; opacity:0; }
  60.01% { left:-3000px; opacity:0; }
  62% { left:-3000px; opacity:1; }
  78% { left:-3000px; opacity:1; }
  80% { left:-3000px; opacity:0; }
  80.01% { left:-4000px; opacity:0; }
  82% { left:-4000px; opacity:1; }
  98% { left:-4000px; opacity:1; }
  100% { left:-4000px; opacity:0; }
}
@keyframes flowSlides4 {
  0% { left:0px; opacity:0; }
  2% { left:0px; opacity:1; }
  18% { left:0px; opacity:1; }
  20% { left:0px; opacity:0; }
  20.01% { left:-1000px; opacity:0; }
  22% { left:-1000px; opacity:1; }
  38% { left:-1000x; opacity:1; }
  40% { left:-1000px; opacity:0; }
  40.01% { left:-2000px; opacity:0; }
  42% { left:-2000px; opacity:1; }
  58% { left:-2000px; opacity:1; }
  60% { left:-2000px; opacity:0; }
  60.01% { left:-3000px; opacity:0; }
  62% { left:-3000px; opacity:1; }
  78% { left:-3000px; opacity:1; }
  80% { left:-3000px; opacity:0; }
  80.01% { left:-4000px; opacity:0; }
  82% { left:-4000px; opacity:1; }
  98% { left:-4000px; opacity:1; }
  100% { left:-4000px; opacity:0; }
}
@keyframes flowSlides5 {
  0% { left:0px; opacity:0; }
  2% { left:0px; opacity:1; }
  18% { left:0px; opacity:1; }
  20% { left:0px; opacity:0; }
  20.01% { left:-1000px; opacity:0; }
  22% { left:-1000px; opacity:1; }
  38% { left:-1000x; opacity:1; }
  40% { left:-1000px; opacity:0; }
  40.01% { left:-2000px; opacity:0; }
  42% { left:-2000px; opacity:1; }
  58% { left:-2000px; opacity:1; }
  60% { left:-2000px; opacity:0; }
  60.01% { left:-3000px; opacity:0; }
  62% { left:-3000px; opacity:1; }
  78% { left:-3000px; opacity:1; }
  80% { left:-3000px; opacity:0; }
  80.01% { left:-4000px; opacity:0; }
  82% { left:-4000px; opacity:1; }
  98% { left:-4000px; opacity:1; }
  100% { left:-4000px; opacity:0; }
}

.navigation_under {
  background-color: #82aaaa;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation_under ul {
  list-style: none;
  font-size: 1.4rem;
}
.navigation_under ul li {
  display: inline-block;
  padding: 0 8px;
}
.navigation_under ul li a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.footer {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 50px 100px 50px 100px;
	color: white;
}

.footer h2{
	padding: 10px;
	width: 460px;
	border-bottom: double;
}

.company {
	display: flex;
}

img.example1 {
	margin:9px 7px 0 0;
}

img.example2 {
	margin:15px 7px 0 0;
}

img.example3 {
	margin:0 7px 0 0;
}

.companyProf p {
	margin:10px 0;
}
